<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Editar Perfil</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-3 p-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endwith %}
    <div class="container">
        {% if current_user.is_authenticated %}
        <form action="" method="post" class="border m-5 p-5" enctype="multipart/form-data">
            <h1 style="text-align: center;">Editar perfil</h1> <br>
            <div class="media align-items-end profile-head">
                <div class="profile mr-3 d-flex justify-content-center">
                  <img
                    src="{{ foto_perfil }}"
                    alt="..."
                    width="130"
                    class="rounded mb-2 img-thumbnail"/>
                </div>
                <div class="form-group" style="text-align: center;">
                    <h2>{{ current_user.username }}</h2>
                    {{ form.foto_perfil.label }} <br>
                    {{ form.foto_perfil }}
                    {% if form.foto_perfil.errors %}
                        {% for erro in form.foto_perfil.errors %}
                        <span class="text-danger">{{ erro }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {{ form.csrf_token }}
            <hr>
            <fieldset>
                <div class="form-group">
                    {{ form.username.label(class='form-control-label') }}
                    {% if form.username.errors %}
                        {{ form.username(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for erro in form.username.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.username(class='form-control') }}
                    {% endif %}
                </div>
            </fieldset>
            {{ form.btn_submit_edit_perfil(class='btn btn-primary mt-2') }}
        </form>
        {% else %}
        <div class="container">
            <h1 style="text-align: center">
              Você não está logado, faça
              <a href="{{ url_for('login') }}">login</a> para continuar
            </h1>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>