<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Perfil</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
  </head>
  <body>
  {% if current_user.is_authenticated %} <!--verifica se está logado -->
  {% include 'navbar.html' %}
  {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show m-3 p-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endwith %}
    <div class="container ">
      
      <div class="row py-5 px-4">
        <div
          class="mx-auto "
          style="box-shadow: 0px 0px 15px; padding: 0px; margin: 0px"
        >
          <!-- Profile widget -->
          <div class="bg-white rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover ">
              <div class="media align-items-end profile-head ">
                <div class="profile mr-3 ">
                  <img
                    src="{{ foto_perfil }}"
                    alt="..."
                    width="130"
                    class="rounded mb-2 img-thumbnail"
                  />
                </div>
                <div
                  class="media-body mb-5 text-white"
                  style="padding-bottom: 10px"
                >
                  <h2 class="mt-0 mb-0">{{ current_user.username }}</h2>
                </div>
              </div>
            </div>
          
            <div class="bg-light p-4 d-flex justify-content-end text-center">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">{{ num_posts }}</h5>
                  <small class="text-muted">
                    <i class="fas fa-user mr-1"></i>Posts</small
                  >
                </li>
              </ul>
            </div>
            <div class="py-4 px-4">
              
              <div
                class="d-flex align-items-center justify-content-between mb-3"
              >
                <h4 class="mb-0">Ultimos Posts</h4>
              </div>
              {% if num_posts == 0 %}
              <h3>
                Você ainda não escreveu nenhuma nota clique
                <a href="{{ url_for('criar_post') }}">aqui</a> para criar
              </h3>
              {% endif %}
                {% for post in posts%} <!-- para cada post na lista de posts-->
              {% if post.autor.username == current_user.username %} <!-- se o nome do autor do post for igual ao usuario atual -->
              <div class="d-flex justify-content-center">
                <div class=" mb-2 pr-lg-1 ">
                  <div class="card ">
                    <div class="card-body">
                      <h5 class="card-title">
                        {{ post.titulo }}
                        <small class="text-muted" style="font-size: 15px">
                          Data: {{ post.data_criacao.strftime('%d/%m/%Y')
                          }}</small>
                          <a href="{{ url_for('exibir_post', post_id=post.id) }}" class="btn btn-primary">Editar ou Exluir Post</a>
                      </h5>
                         
                    <p class="card-text">{{ post.corpo }}</p>
                    </div>
                  </div>
                </div>
              </div>
              
              {% endif %} <!-- termina a verificação do nome do criador do post-->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %} <!-- caso não esteja logado-->
    <div class="container">
      <h1 style="text-align: center">
        Você não está logado, faça
        <a href="{{ url_for('login') }}">login</a> para continuar
      </h1>
    </div>
  {% endif %} <!-- termina a verificação de login-->
    

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão?</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Esta é uma ação sem volta, tem certeza que deseja excluir seu post?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar Exclusão
            </button>
            <form action="" method="POST">
              <button type="submit" class="btn btn-primary">Excluir</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
